/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --primary: hsl(36, 72%, 48%);
  --primary-alt: hsl(36, 72%, 44%);
  --black-color: hsl(206, 12%, 12%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(206, 12%, 12%);
  --text-color: hsl(206, 4%, 42%);
  --text-color-light: hsl(206, 4%, 75%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  /*========== Font and typography ==========*/
  --body-font: 'Lato', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-bold: 700;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100; }

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem; } }

/*=============== BASE ===============*/
*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: Satoshi;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color); }

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold); }

h1,
h2,
h3,
p {
  line-height: 140%; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }

img {
  max-width: 100%;
  height: auto; }

button {
  border: none;
  outline: none;
  cursor: pointer; }

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  z-index: 2; }

.grid {
  display: grid;
  gap: 1.5rem; }

.section {
  padding: 4.5rem 0 2rem; }

.section__title {
  position: relative;
  font-size: var(--h1-font-size);
  padding-left: 1.25rem;
  margin-bottom: 2.5rem; }

.section__title::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 3px;
  height: 20px;
  background-color: var(--primary); }

/*=============== HEADER & NAV ===============*/
.header {
  background: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed); }

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__logo {
    font-weight: 700;
    display: flex;
    align-items: center;
    column-gap: 0.5rem; }
    .nav__logo-img {
      width: 0.75rem; }
  .nav__toggle {
    display: inline-flex;
    font-size: 1.15rem;
    cursor: pointer; }

@media screen and (min-width: 767px) {
  .nav__menu {
    background-color: var(--black-color);
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: 0.3s; } }

.nav__logo,
.nav__toggle {
  color: #fafafa; }

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem; }

.nav__link {
  text-transform: uppercase;
  color: var(--text-color-light);
  font-size: 1.12rem; }
  .nav__link:hover {
    color: #fff; }

.nav__close {
  color: #fafafa;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer; }

.show-menu {
  right: 0; }

/*=============== HOME ===============*/
.home {
  gap: 0; }
  .home__container {
    padding: 7rem 0 2.5rem;
    background: linear-gradient(160deg, #3a3e40 -4%, #1b1f22 46%); }
  .home__content {
    position: relative; }
  .home__title {
    font-size: var(--biggest-font-size);
    margin-bottom: 1.5rem; }
    .home__title span {
      color: var(--primary); }
  .home__description {
    margin-bottom: 2rem; }
  .home__data {
    border-top: 1px solid var(--text-color);
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem; }
    .home__data-number {
      color: var(--primary);
      font-size: var(--h1-font-size);
      margin-bottom: 1.5rem; }
    .home__data-title {
      font-size: var(--h3-font-size);
      margin-bottom: 0.5rem; }
  .home__scroll {
    width: 100px;
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: scroll 3s infinite; }

.home__title,
.home__data-title {
  color: #fafafa; }

.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1); }
  .scroll-header .nav__logo,
  .scroll-header .nav__toggle {
    color: var(--text-color); }
  .scroll-header .nav__logo-img {
    mix-blend-mode: difference; }

@keyframes scroll {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(-0.5rem); }
  100% {
    transform: translateY(0%); } }

/*=============== SPECIALTY ===============*/
.button {
  display: inline-block;
  background-color: var(--black-color);
  color: #fafafa;
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  border-radius: 0.25rem;
  padding: 1rem 1.75rem; }

/*=============== SPECIALTY ===============*/
.specialty__button {
  margin-left: 1.25rem; }

.specialty__category {
  display: grid;
  grid-template-columns: 200px;
  row-gap: 2.5rem;
  justify-content: center;
  margin-top: 4rem; }

.specialty__img {
  width: 60px;
  margin-bottom: 1rem;
  transition: 0.4s; }

.specialty__group {
  text-align: center; }

.specialty__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem; }

.specialty__group:hover,
.specialty__img {
  transform: translateY(-0.25rem); }

/*=============== PRODUCTS ===============*/
.products__filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 2rem;
  margin-bottom: 3.5rem; }

.products__line {
  position: relative; }

.products__line::before {
  content: '';
  background-color: var(--text-color-light);
  width: 1px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0; }

.products__item {
  cursor: pointer; }
  .products__item__title {
    color: var(--text-color);
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem; }
  .products__item__stock {
    font-size: var(--small-font-size); }

.products__content {
  grid-template-columns: 200px;
  justify-content: center; }
  .products__content .products__card {
    background-color: var(--container-color);
    border-radius: 0.5rem; }
  .products__content .products__img {
    width: 150px;
    transition: 0.4s; }
  .products__content .products__shape {
    background-color: var(--card-color);
    text-align: center;
    padding: 0.25rem 0;
    border-radius: 0.5rem 0.5rem 0 0; }
  .products__content .products__data {
    position: relative;
    padding: 1rem 0 1.25rem 1rem; }
    .products__content .products__data .products__price {
      font-size: var(--h2-font-size); }
    .products__content .products__data .products__name {
      color: var(--text-color-light);
      font-size: var(--normal-font-size); }
    .products__content .products__data .products__cta {
      display: inline-flex;
      font-size: 1.25rem;
      position: absolute;
      top: -1.25rem;
      right: 1rem;
      padding: 0.625rem;
      border-radius: 50%;
      box-shadow: 0 4px 12px rgba(10, 10, 11, 0.2); }

.products__card:hover .products__img {
  transform: translateY(-0.25rem); }

/* Active link products */
.active-product .products__title {
  color: var(--primary); }

/*=============== QUALITY ===============*/
.quality {
  background-color: #fff; }

.quality__content {
  row-gap: 2.5rem; }
  .quality__content .quality__image {
    position: relative;
    justify-self: center; }
    .quality__content .quality__image .quality_big,
    .quality__content .quality__image .quality_small {
      border-radius: 0.5rem; }
    .quality__content .quality__image .quality_big {
      width: 280px; }
    .quality__content .quality__image .quality_small {
      width: 100px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      transform: translateX(-5rem); }

.quality__title,
.quality__price {
  font-size: var(--h1-font-size); }

.quality__title {
  margin-bottom: 0.75rem; }

.quality__price {
  color: var(--text-color);
  margin-bottom: 0.25rem; }

.quality__special {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 0.75rem; }

.quality__decription {
  color: var(--text-color-light);
  margin-bottom: 2.5rem; }

.quality__buttons {
  display: flex;
  align-items: center;
  column-gap: 2rem; }

.quality_button {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  text-transform: uppercase; }
  .quality_button i {
    font-size: 1.25rem;
    transition: 0.4s; }
  .quality_button:hover i {
    transform: translateX(0.25rem); }

/*=============== LOGOS ===============*/
.logo {
  background-color: #fff; }
  .logo__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2.5rem;
    border-top: 1px solid var(--text-color-light);
    padding-top: 2.5rem; }
  .logo__img {
    width: 80px;
    mix-blend-mode: luminosity;
    opacity: 0.4;
    transition: 0.4s; }
    .logo__img:hover {
      opacity: 0.8; }
